@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* ------- universal-------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ------- body-------- */
body {
    font-family: poppins, sans-serif;
    background-color: #48C9B0;
    color: white;
    min-height: 100pv;
}

/* ------- header-------- */
header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- form & add button -------- */
form input, form button {
    font-size: 1.8rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    padding: .5rem;
    padding-left: 1rem;

}

form button {
    color: #FF5733;
    background-color: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: white;
    background-color: #FFC300;
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

/* ------- todo container & list -------- */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none; 
}

.todo {
    color: black;
    font-size: 1.5rem; 
    background-color: white;
    margin: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.todo li {
    flex: 1; 
}

.todo-item {
    padding: 0rem 0.5rem;
}

/* ------- complete & trash buttons -------- */
.trash-btn, .complete-btn {
    font-size: 1.5rem;
    color: white;
    border: none;
    padding: 1rem; 
    cursor: pointer;

}

.trash-btn {
    background-color: #D1F2EB;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}

.complete-btn {
    background-color: #A3E4D7;
}

/* ------- task transitions -------- */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

/* ------- select section  -------- */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
}

select {
    color: #581845;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    background-color: #FF5733;
    pointer-events: none;
    top: 0;
    right: 0;
    padding: 1rem;
    content: "\25BC";
    position: absolute;
    transition: all 0.3 ease;
}

.select:hover::after {
background-color: white;
color: #FFC300;
}